
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 20px;
    border:1px solid white;
}




li{
    float: left;
}

    
li:first-of-type{
    background-color: aqua;
}

