body{ /*css kod för tagen body i html koden*/
    background-color: #000000; /*backgrunds färg*/
    opacity: 1;/*Hur genomskinligt det ska vara*/
    background-image:  linear-gradient(30deg, #0d0d0d 12%, transparent 12.5%, transparent 87%, #0d0d0d 87.5%, #0d0d0d), linear-gradient(150deg, #0d0d0d 12%, transparent 12.5%, transparent 87%, #0d0d0d 87.5%, #0d0d0d), linear-gradient(30deg, #0d0d0d 12%, transparent 12.5%, transparent 87%, #0d0d0d 87.5%, #0d0d0d), linear-gradient(150deg, #0d0d0d 12%, transparent 12.5%, transparent 87%, #0d0d0d 87.5%, #0d0d0d), linear-gradient(60deg, #0d0d0d77 25%, transparent 25.5%, transparent 75%, #0d0d0d77 75%, #0d0d0d77), linear-gradient(60deg, #0d0d0d77 25%, transparent 25.5%, transparent 75%, #0d0d0d77 75%, #0d0d0d77);
    background-size: 20px 35px; /* bakgrunds bild storlek*/
    background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px; /* posestionen vart backgrundedn ligger*/
}

img{/*bild taggen*/
    border-radius: 20px; /*radier på bild*/
}

p {
    text-align: center; /*att texten är i mitten*/
    margin-top: 25px;/*mellan rum över själva texten*/
    font-size: 25px;/*text storlek */
    border-width: 5px;/*bredd på gränsesn*/
    border-color:violet;/*färg på gränsesn */
    color: rgb(255, 255, 255); /*färgen på texten*/
    font-family: 'Times New Roman', Times, serif;/*vilken style texten ska ha*/
    

}
mark{
    background-color: yellow;
    color: aqua; 
}


ol{
    text-align: center;
}

li{
    color: white;
    font-size: 17px;
    list-style: none;
  
}


div.container { /*div.container är t.ex. */
    text-align: center;
  }
  
  ul{
    list-style: none; /*hur punktlsitan kommer se ut */
    display: inline-block; /*så att punkterna är i mitten/brevid texterna*/


}
  em, strong{
    color:gold ;
  }


 h1, h2, h3, h4, h5, h6{
    color: white;
    text-align: center;
    height: fit-content;
    margin-top: 50px;
    text-decoration-line: underline; /*undertext*/

    
 }

 .center { /*namnet så att du kan använda div class="center"*/
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .left{
    display: block;
    margin-right: auto;
    margin-left: 0%;
    float: left;
  }

  .border{
    height: fit-content;
    width: fit-content;
    border-color: gold;
    border-width: 10px;
    border-style: solid;
    margin-left: 10px;
    background-color: black;
    margin: 25px;
    overflow: hidden;
  }

  .column {
    float: left;/*så att t.ex. bilden är brevid texten*/
    width: 24%;
    padding: 5px;/*mellan rummet mellan inhelållet och kanten*/
    text-align: center;
  }
 

  

  /* Clear floats after image containers */
  .row::after { /*:after lägger den i html coden kommer */
    content: "";
    clear: both; /*lägger elementet under den andra elementet*/
    display: table; /*kommer göra tabel*/
  }

  .videocontainer {
    display: flex;
    gap: 10px; /*mellan rummet stålek*/
}

.videocontainer video {
    width: 50%; 
    height: auto; 
}
